*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
}
nav{
  background-color: black;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}
section{
  margin: 0;
  background: #b3d4fc;
}
footer{
  margin: 0;
  background: aqua;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
nav {
display: flex;
  flex-direction: row;
  margin: 0;
  background: aquamarine;
}
h2{
  margin: 0;
}
img{


}
div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;

}
div #img1{
  background: white;
  height: 10%;
  border-radius: 5px;
  border: 3px double black;
  left: 3px;
  position: absolute;
}

ul.menu,
.menu li,
.menu a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

ul.menu ul {
  position: absolute;
  display: none;
  box-shadow: 3px 3px 2px #333;
}
ul.menu {
  float: left;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  padding: 0 5px;
}

.menu li {
  float: left;
  width: auto;
  position: relative;
}

.menu li a {
  display: block;
  padding: 0 20px;
  line-height: 45px;
  height: 45px;
  float: left;
  transition: all 0.1s linear;
}
.menu li:hover>ul.submenu {
  display: block;
  top: 45px;
  left: 0;
  padding: 5px;
  width: 200px;
  border-radius: 0 0 5px 5px;
}

.menu ul.submenu a {
  width: 160px;
  padding: 0 20px;
  border-radius: 5px;
}

.menu {
  background: #CCC;
}

.menu a {
  color: #000;
}

.menu li:hover>a {
  background: #999;
  color: #fff;
}

/*nivel 2*/
.submenu {
  background: #999;
}

.submenu a {
  color: #fff;
}

.submenu li:hover>a {
  background: #666;
}
