.navbar-expand-lg{
    background: #454d75;
}
.navbar-collapse {
    flex-grow: 0;
}
*{
    margin: 0;
}

.page, .page1, .page2{
    margin-top: 10px ;
    display: flex;
    width: 100%;
    justify-content: space-around;

}
.page2{

    flex-direction: column;
    align-items: center;
}
.page2 .informs{
    margin: 10px;
    width: 95%;
}
.page1{
    flex-wrap: wrap;
}
.seção{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;

}
.informs {
    display: flex;
    border: 2px double;
    width: 100%;
    margin: 0 20px;
    border-radius: 5px 30px;
    background: #454d75;
    flex-direction: column;
    align-items: center
}
.midias{
    display: flex;
    width: 100%;
    margin: 0 20px;
    border-radius: 5px 30px;
    background: #454d75;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.midias a:visited, .midias a:hover{
    text-decoration: none;
}
.midias a{
    color: #212529;
}
.midias span{
    font-weight: bold;
}
.midias svg{
    color: white;
}
.midia-glo{
    margin: 20px 0;
}
.midias-comp{
    display: flex;
    align-items: center;
}
.midias-comp svg{
    margin: 0 2px;
}
.informs .forms{
    margin: 20px 0;
    color: rgba(255, 255, 255, 0.73);
    width: 90%;
    display: flex;
    flex-direction: column
}
.botao{
    display: flex;
    justify-content: center;
}
.informs h1{

    margin: 20px 0;
}
.informs p{
    margin: 10px 20px;
    font-size: x-large;
    text-align: center;
}
.image{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 20px;
}
